p:nth-child(1) > img{
    height: 200px;   
}

p:nth-child(2) > img{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

p:nth-child(3) > img{
    width: 200px;
    height: 200px;
    float: right;
}

