.yb {
    height: 400px;
    width: 700px;
    background-color: yellow;
}

.ybox {
    width: 400px;
    height: 500px;
    max-width: 300px;
}

.rb {
    height: 300px;
    width: 700px;
    background-color: red;
}

.rbox {
    width: 600px;
    height: 300px;
    max-height: 200px;
}

.prvi {
    background-color: yellow;
    border-width: 5px thick;
    border-style: dashed;

}

.drugi {
    background-color: yellow;
    border-width: 5px thick;
    border-style: solid;
    border-color: green;

}

.treci {
    background-color: yellow;
    border-width: 5px thick;
    border-style: dashed;
}

.noviprvi {
    background-color: blueviolet;
    padding: 0px;
    width: 300px;
    margin-right: 20px;
    display: inline;

}

.novidrugi {
    background-color: blueviolet;
    padding-top: 0px;
    width: 400px;
    text-align: center;
    margin-right: 20px;
    display: inline;
    visibility: hidden;
}

.novitreci {
    background-color: blueviolet;
    padding: 0px;
    width: 200px;
    margin-right: 20px;
    display: inline;
    visibility: hidden;
}

.boxshadow {
    border: 7px solid green;
    width: 960px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: aquamarine;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-box-shadow: 43px 32px 13px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 43px 32px 13px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 43px 32px 13px 1px rgba(0, 0, 0, 0.75);
    border-radius: 40px;
}