.div1{
    width: 200px;
    height: 200px;
    background-color: rgb(133, 9, 9);
}
.div2{
    width: 200px;
    height: 200px;
    background-color:rgb(141, 141, 13) ;
}
.div3{
    width: 200px;
    height: 200px;
    background-color: rgb(16, 16, 95);
}
.div4{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: rgb(133, 9, 9);
}
.div5{
    position: relative;
    left: 100px;
    bottom: 100px;
    width: 200px;
    height: 200px;
    background-color: rgb(141, 141, 13);
}
.div6{
    position: relative;
    left: 200px;
    bottom: 200px;
    width: 200px;
    height: 200px;
    background-color: rgb(16, 16, 95);
}
.div7{
    position: absolute;
    z-index: 1;
    left: 600px;
    bottom: -600px;
    width: 200px;
    height: 200px;
    background-color: rgb(133, 9, 9);
}
.div8{
    position: absolute;
    left: 500px;
    bottom: -700px;
    width: 200px;
    height: 200px;
    background-color: rgb(141, 141, 13);
}
.div9{
    position: absolute;
    z-index: -1;
    left: 400px;
    bottom: -800px;
    width: 200px;
    height: 200px;
    background-color: rgb(16, 16, 95);
}