body {
    background-image: url(../Image_LayoutExercises/photoImageExercises.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: rgba(255, 168, 6, 0.5);
    color: rgb(6, 6, 141);
    text-align: center;
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    text-shadow: 6px 5px 5px rgba(0, 0, 0, 1); 
}
header h2 {
    font-family: Arial, Helvetica, sans-serif;
}
header address {
    text-align: right;
    text-shadow: none;
}

nav {
    padding: 40px;
    font-weight: bold;
    border-radius: 25px;
    float: left;
    width: 400px;
    height: 800px;
    background-color: rgba(182, 240, 220, 0.5);
}
main {
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(253, 239, 220, 0.5);
    width: 800px;
    height: 800px;
    text-align: justify;
}
main p {
    margin-left: 80px;
    margin-right: 80px;
    padding: 70px;
    
}
aside {
    padding: 40px;
    font-weight: bold;
    border-radius: 25px;
    float: right;
    background-color:rgba(182, 240, 220, 0.5) ;
    width: 400px;
    height: 800px;
    margin-top: -800px;
}
footer {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: rgba(146, 238, 238, 0.5);
    text-align: center;
    clear: both;
    position: relative;
   
}
footer p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
