/* .forma{
    font-size: 350%;
    color: rgb(65, 62, 62);
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    padding: 30px;
    padding-right: 50px;
    display: block;
    margin-bottom: 10px;
    width: 800px;
    background-color:rgb(204, 201, 201); 
    
} 
  */

.formnaslov {
    border-bottom-style: solid;
    border-bottom-width:medium;
    border-color: grey;
    color: rgb(2, 2, 71);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.submit {
    background-color: rgb(94, 10, 10);
    color: white;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 15ps 32px;
    font-size: 35px;
    margin: 8px 0;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    cursor: crosshair;       
}
.submit:hover{
    background-color: rgb(187, 50, 50);
}

.box {
    border-radius: 5px;
    background-color: rgb(204, 201, 201);
    font-size: 300%;
    color: rgb(65, 62, 62);
    border: 1px solid #bdbdbd;
    border-radius: 50px 0px 50px 0px;
    padding:  60px;
    margin: auto;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 5px 12px rgba(143,140,143,1);
    -moz-box-shadow: 0px 0px 5px 12px rgba(143,140,143,1);
    box-shadow: 0px 0px 5px 12px rgba(143,140,143,1);
}